<h2 class="screen-align">Welcome</h2>
<div id="template-iqxq" class="row">
    <div id="template-ifml" class="cell">
        <label id="template-i0of" class="label">firstname</label>
        <input id="template-i55k" [(ngModel)]="users.firstname"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
        <button id="template-i7tl" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-ilm2" class="cell">
        <label id="template-itiq" class="label">secondname</label>
        <input id="template-il1w" [(ngModel)]="users.secondname"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>
<div name="grid_template-in7n" class="">
    <div class="tableBg">
        <table id="table" class="table table-bordered  table-striped table-curved"
        data-show-header="true" data-pagination="true" data-id-field="name">
            <thead class="table table-hover">
                <tr>
                    <th *ngFor="let column of columnDefs">{{column.headerName}}</th>
                </tr>
            </thead>
            <tbody class="table-design" *ngIf="rowData.length==0">
                <td style="text-align: center;" colspan="5">No Data Found</td>
            </tbody>
            <tbody class="table-design" *ngIf="rowData.length>0">
                <tr *ngFor="let values of rowData | slice: (page-1) * paginationPageSize :(page-1) * paginationPageSize + paginationPageSize">
                    <td>{{ values.firstname }}</td>
                    <td>{{ values.secondname }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bottomPage">
        <div class="text-right">
            <ngb-pagination class="d-flex justify-content-start" [(page)]="page" [maxSize]="5"
            [rotate]="true" [pageSize]="paginationPageSize" [collectionSize]="rowData.length"
            [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
    <div id="myGrid" class=""></div>
</div>
<div id="myGrid" class=""></div>